## Comparison

In [1]:
a = True
b = False

In [2]:
a == b

False

In [3]:
a != b

True

In [4]:
'hello' == 'bye'

False

In [5]:
2.0 == 2

True

In [6]:
'hello' > 'bey'

True

### Chaining operators

In [7]:
1 > 2 < 3

False

In [8]:
1 > 2 and 2 < 3

False

In [9]:
'h' == 'c' or 3 > 2

True

In [10]:
not (1 == 1)

False

### If Elif Else

In [11]:
hungry = False
if hungry:
    print("true")
    print('second line')
else:
    print('else')

else

In [12]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Repair this')
elif loc == 'Store':
    print('Buy it')
elif loc == 'Bank':
    print('Get money')
else:
    print('else')

Get money

### For Loops

In [13]:
myList = [1,2,3,4]

for item in myList:
    print(f'Item number: {item}')

Item number: 1
Item number: 2
Item number: 3
Item number: 4

In [20]:
myList = [1,2,3,4]

for item in myList:
    if item % 2 == 0:
        print(f'Item number: {item}')

Item number: 2
Item number: 4

In [21]:
sum = 0

for item in myList:
    sum += item

print(sum)

10

In [22]:
for letter in 'hello world':
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [23]:
for _ in 'hello world':
    print("print it x times")

print it x times
print it x times
print it x times
print it x times
print it x times
print it x times
print it x times
print it x times
print it x times
print it x times
print it x times

In [25]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [26]:
myList = [(1,2),(3,4),(5,6),(7,8)]

for item in myList:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [28]:
for a,b in myList:
    print(a)

1
3
5
7

In [37]:
dict = {'key1':1, 'key2':'value2', 'key3':3}

for a,b in dict.items():
    print(a)

key1
key2
key3

### While

In [40]:
x = 0

while x < 5:
    print(f'x == {x}')
    x+=1
else:
    print('x is 5')

x == 0
x == 1
x == 2
x == 3
x == 4
x is 5

### break, continue, pass

* pass - do nothing at all
* continue - go to the top of closest enclosing loop
* break - breaks out of the current enclosing loop

In [41]:
x = [1,2,3]

for item in x:
    pass

In [50]:
x = [1,2,3]

for item in x:
    if item == 2:
        continue
    print(item)

1
3

In [51]:
x = [1,2,3]

for item in x:
    if item == 2:
        break
    print(item)

1

### Random operators

Range(from [inclusive], to [exclusive], step)

In [52]:
myList = [1,2,3]

In [53]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [55]:
for num in range(3,10, 2):
    print(num)

3
5
7
9

In [56]:
list(range(3,10, 2))

[3, 5, 7, 9]

Enumerate

In [58]:
index_count = 0

for letter in 'abcde' :
    print(f'At index {index_count} letter {letter}')
    index_count+=1

At index 0 letter a
At index 1 letter b
At index 2 letter c
At index 3 letter d
At index 4 letter e

In [59]:
word = 'abcde'

for letter in enumerate(word) :
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [60]:
for index,letter in enumerate(word) :
    print(f'At index {index} letter {letter}')

At index 0 letter a
At index 1 letter b
At index 2 letter c
At index 3 letter d
At index 4 letter e

Zip - pairs list and create tuples

In [68]:
list1 = [1,2,3, 4 ,5 ]
list2 = ['a', 'b', 'c']
list3 = ['a', 'b', 'c']

In [69]:
zip(list1, list2, list3)

In [70]:
for item in zip(list1, list2, list3):
    print(item)

(1, 'a', 'a')
(2, 'b', 'b')
(3, 'c', 'c')

In [71]:
list(zip(list1, list2, list3))

[(1, 'a', 'a'), (2, 'b', 'b'), (3, 'c', 'c')]

In [72]:
for a,b,c in zip(list1, list2, list3):
    print(a)

1
2
3

In operator

In [73]:
1 in list1

True

In [74]:
'a' in list2

True

In [75]:
'a' in 'Hell World'

False

Min Max

In [76]:
myList = [10, 20, 25, 100]
max(myList)

100

In [77]:
min(myList)

10

Random

In [78]:
from random import shuffle

In [79]:
mylist = [1,2,3,4,5,6,7,8,9]
shuffle(mylist)

In [80]:
mylist

[7, 4, 3, 8, 6, 2, 5, 9, 1]

In [81]:
from random import randint

In [82]:
randint(0, 100)

42

In [83]:
randint(0, 100)

90

User input

In [84]:
input('Enter a number: ')

Enter a number: 50

'50'

In [85]:
result = input('Enter a number: ')

Enter a number: 222

In [86]:
result

'222'

In [87]:
type(result)

str

In [88]:
float(result)

222.0

### List Comprehensions

In [89]:
mystring = 'hello'

In [92]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [93]:
mylist

['h', 'e', 'l', 'l', 'o']

In [95]:
mylist = [letter for letter in mystring]

In [96]:
mylist

['h', 'e', 'l', 'l', 'o']

In [98]:
mylist = [x for x in 'word']

In [99]:
mylist

['w', 'o', 'r', 'd']

In [100]:
mylist = [x for x in range(10)]

In [101]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
mylist = [num**2 for num in range(11)]

In [103]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [104]:
mylist = [num for num in range(11) if num%2 == 0]

In [105]:
mylist

[0, 2, 4, 6, 8, 10]

In [106]:
celcius = [0, 10, 20, 34.5]
farenheit = [( (9/5) * temp + 32) for temp in celcius]

In [107]:
farenheit

[32.0, 50.0, 68.0, 94.1]

In [109]:
mylist = []

for x in [2,4,6]:
    for y in [100, 200, 300]:
        mylist.append(x*y)

mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [110]:
mylist = [x*y for x in [2,4,6] for y in [100, 200, 300]]
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]