___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [202]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a, b)
    else:
        return max(a,b)

In [203]:
# Check
lesser_of_two_evens(2,4)

2

In [204]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [210]:
def animal_crackers(text):
    splitText = text.lower().split()
    return splitText[0][0] == splitText[1][0]

In [211]:
# Check
animal_crackers('Levelheaded Llama')

True

In [212]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [32]:
def makes_twenty(n1,n2):
    return n1 + n2 == 20 or n1 == 20 or n2 == 20

In [33]:
# Check
makes_twenty(20,10)

True

In [34]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [213]:
#def old_macdonald(name):
#    return ''.join([name[i].upper() if i == 0 or i == 3 else name[i] for i in range(len(name))])

def old_macdonald(name):
    return name[:3].capitalize() + name[3:].capitalize()

In [214]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [215]:
def master_yoda(text):
    splitText = text.split()
    splitText = splitText[::-1]
    return " ".join(splitText)

In [216]:
# Check
master_yoda('I am home')

'home am I'

In [217]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [55]:
def almost_there(n):
    return abs(n - 100) <= 10 or abs(n-200) <= 10

In [56]:
# Check
almost_there(104)

True

In [57]:
# Check
almost_there(150)

False

In [58]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [234]:
def has_33(nums):
#    string_ints = [str(n) for n in nums]
#    text = "".join(string_ints)
#    return '33' in text
    
    for i in range(0, len(nums) -1):
        if  nums[i] == 3 and nums[i+1] == 3:
            return True
    return False
    
#    three = False
#    for n in nums:
#        if n == 3:
#            if three == True:
#                return True
#            else:
#                three = True
#        else:
#            three = False
#    
#    return False

In [235]:
# Check
has_33([1, 3, 3])

True

In [236]:
# Check
has_33([1, 3, 1, 3])

False

In [237]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [79]:
def paper_doll(text):
    word = ''
    for t in text:
        word += t*3
    return word

In [80]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [81]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [82]:
def blackjack(a,b,c):
    total = a + b + c
    if total > 21 and a == 11 or b == 11 or c == 11:
        total -= 11
    
    if total > 21:
        return 'BUST'
    
    return total;

In [83]:
# Check
blackjack(5,6,7)

18

In [84]:
# Check
blackjack(9,9,9)

'BUST'

In [85]:
# Check
blackjack(9,9,11)

18

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [222]:
def summer_69(arr):
    total = 0
    stopCount = False
    for n in arr:
        if n == 6 and not stopCount:
            stopCount = True
               
        if stopCount == False:
            total += n
            
        if stopCount and n == 9:
            stopCount = False
            
    return total

In [223]:
# Check
summer_69([1, 3, 5])

9

In [224]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [225]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [238]:
def spy_game(nums):
#    string_ints = [str(n) for n in nums]
#    text = "".join(string_ints)
#    return '007' in text
    code = [0,0,7, '#']
    for n in nums:
        if n == code[0]:
            code.pop(0)
            
    return len(code) == 1

In [239]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [240]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [241]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [179]:
def count_primes(num):
    primes = []
    for i in range(2, num):
        if is_prime(i):
            primes.append(i)
    
    return primes

def is_prime(num):
    for i in range(2, num//2):
        if (num % i) == 0:
            return False;
        
    return True;

In [180]:
# Check
count_primes(100)

[2,
 3,
 4,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [200]:
letters = { 'a' : '  *\n * * \n*****\n*   *\n*   *'}


def print_big(letter):
    print(letters[letter])

In [201]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!